<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/assets/vendors/css/vendor.bundle.base.css">


    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../static/assets/images/favicon.ico" />

    <style>
      .button {
        border: none;
        border-radius : 10px;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
      }

      .button1 {background-color: #04AA6D;} /* Green */
      .button2 {background-color: red;}


    </style>



  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="../../index.html"><img src="../static/images/logo.png" alt="logo" style="width:20px" /><b>Resume Parser</b></a>
          <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../static/images/logo.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Search user">
              </div>
            </form>
          </div>
          <ul class="navbar-nav navbar-nav-right">

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('user_password_update',role=role)}}">
                <span class="menu-title">Update Password</span>
                <i class="mdi mdi-lock-reset menu-icon" style="margin-left:10px"></i>
              </a>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_logout') }}">
                <span class="menu-title">Logout</span>
                <i class="mdi mdi-logout" style="margin-left:10px"></i>
              </a>
            </li>

          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="../static/images/man.png" alt="profile">
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">{{ username }}</span>
                  <span class="text-secondary text-small">{{ email }}</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('add_user') }}">
                <span class="menu-title">Add user</span>
                <i class="mdi mdi-account-multiple-plus menu-icon"></i>
              </a>
            </li>

          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> User Table </h3>

            </div>
            <div class="row">


              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">User Details</h4>
                    <table class="table table-hover">
    <thead>


        <tr>
            <th> Sr. No. </th>
            <th> User ID </th>
            <th> Name </th>
            <th> Email </th>
            <th> Role </th>
            <th> Creation Time</th>
            <th> Action </th>
        </tr>


                      </thead>

    <tbody>
        {% for row in result|reverse %}

            <tr>
<!--              <a href="{{ url_for('admin_view_user_profile', user_id=row.id) }}">-->
                <td class="py-1 clickable text-center" onclick="redirectToPage('{{ url_for('admin_view_user_profile', user_id=row.id) }}')">{{ loop.index }}</td>
                <td class="py-1 clickable text-center" onclick="redirectToPage('{{ url_for('admin_view_user_profile', user_id=row.id) }}')">
                    U_{{ row.id }}
                </td>
                <td class="clickable text-center" onclick="redirectToPage('{{ url_for('admin_view_user_profile', user_id=row.id) }}')"> {{ row.username }}</td>

                <td class="clickable text-center" onclick="redirectToPage('{{ url_for('admin_view_user_profile', user_id=row.id) }}')">
                    {{ row.email }}
                </td>

                <td class="clickable text-center" onclick="redirectToPage('{{ url_for('admin_view_user_profile', user_id=row.id) }}')"> {{ row.role }} </td>
                <td class="clickable text-center" onclick="redirectToPage('{{ url_for('admin_view_user_profile', user_id=row.id) }}')">{{ row.created_datetime }}</td>
                <td>
    <a class="button button1" href="{{ url_for('admin_view_user_profile', user_id=row.id) }}">View</a>
    <button class="button button2" data-bs-toggle="modal" data-bs-target="#deleteModal_{{ row.id }}">Delete</button>

    <!-- Modal for delete button -->
    <div class="modal fade" id="deleteModal_{{ row.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel_{{ row.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel_{{ row.id }}">Delete User</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a type="button" class="btn btn-danger" href="{{ url_for('admin_delete_user', user_id=row.id) }}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</td>

<!--                </a>-->
            </tr>

        {% endfor %}
    </tbody>
</table>

                  </div>
                </div>
              </div>
              <div class="col-lg-12 grid-margin stretch-card">

              </div>
              <div class="col-lg-12 grid-margin stretch-card">

              </div>
              <div class="col-lg-12 stretch-card">

              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../static/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../static/assets/js/off-canvas.js"></script>
    <script src="../static/assets/js/hoverable-collapse.js"></script>
    <script src="../static/assets/js/misc.js"></script>
    <script>
    function redirectToPage(pageUrl) {
        // You can customize this function to perform the redirection as needed
        console.log(pageUrl);
        window.location.href = pageUrl;
    }
</script>
    <script>
        var userId = document.querySelector('.button2').getAttribute('data-user-id');
    </script>

    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>




