<!-- admin_dashboard.html -->

{% extends 'admin_base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<div>
    <select id="timeRangeSelector">
        <option value="7">Last 7 days</option>
        <option value="14">Last 14 days</option>
        <option value="28">Last 28 days</option>
        <option value="90">Last 90 days</option>
    </select>
</div>
<div id="chartContainer" style="width: 600px; height: 300px;">
    <canvas id="userRegistrationsChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const users = {{ users|tojson }};
        const ctx = document.getElementById('userRegistrationsChart').getContext('2d');
        let chart;

        function formatDate(date) {
            const d = new Date(date);
            const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
            ];
            const day = d.getDate();
            const monthIndex = d.getMonth();
            return day + ' ' + monthNames[monthIndex];
        }

        function updateChart(range) {
            const registrationDates = {};
            const currentDate = new Date();
            const cutoffDate = new Date();
            cutoffDate.setDate(cutoffDate.getDate() - range); // Calculate the cutoff date

            // Initialize registration dates with zero counts for each date within the range
            for (let i = 0; i < range; i++) {
                const date = new Date();
                date.setDate(date.getDate() - i);
                registrationDates[formatDate(date)] = 0;
            }

            users.forEach(user => {
                const registrationDate = new Date(user.created_datetime.split('T')[0]);

                // Check if the registration date is within the selected range
                if (registrationDate >= cutoffDate && registrationDate <= currentDate) {
                    const dateString = formatDate(registrationDate);
                    registrationDates[dateString]++;
                }
            });

            const today = new Date();
            const currentMonth = today.getMonth();
            const currentYear = today.getFullYear();

            const dates = Object.keys(registrationDates).sort((a, b) => {
                const [aDay, aMonth] = a.split(' ');
                const [bDay, bMonth] = b.split(' ');

                // Convert month names to month indices for comparison
                const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                const aMonthIndex = monthNames.indexOf(aMonth);
                const bMonthIndex = monthNames.indexOf(bMonth);

                // Compare months and years
                if (aMonthIndex !== bMonthIndex) {
                    // If both months are in the current year
                    if (currentYear === today.getFullYear()) {
                        // Check if any month is beyond the current month
                        if (aMonthIndex > currentMonth && bMonthIndex <= currentMonth) return -1;
                        if (bMonthIndex > currentMonth && aMonthIndex <= currentMonth) return 1;
                    }
                    return aMonthIndex - bMonthIndex;
                } else {
                    return aDay - bDay;
                }
            });

            const userCounts = dates.map(date => registrationDates[date]);

            if (chart) {
                chart.destroy();
            }
            chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'User Registrations / Day',
                        data: userCounts,
                        backgroundColor: 'rgba(54, 162, 235, 0.6)',
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.2,
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                precision: 0,
                                stepSize: 1
                            }
                        }]
                    }
                }
            });
        }

        document.getElementById('timeRangeSelector').addEventListener('change', function() {
            const selectedRange = parseInt(this.value);
            updateChart(selectedRange);
        });

        // Initially update the chart with the default selected value
        updateChart(parseInt(document.getElementById('timeRangeSelector').value));
    });
</script>

{% endblock %}
