{% extends 'admin_base.html' %}

{% block title %}Add Service{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0">
                    <!-- Add a card header "Register" -->
                    <div class="card-header bg-white text-black text-center">
                        <h2>Add Service</h2>
                    </div>

                    <div class="card-body">


                        <form method="post" action="{{ url_for('add_service') }}">
                            {{ form.hidden_tag() }}

                            <div class="mb-3">
                                <label for="name" class="form-label visually-hidden">Service name:</label>
                                {{ form.name(class="form-control", placeholder="Service Name", required=True) }}
                            </div>

                            <div class="mb-3">
                                <label for="description" class="form-label visually-hidden">Description:</label>
                                {{ form.description(class="form-control", placeholder="Description", required=True) }}
                            </div>

                            <div class="mb-3 text-center">
                                {{ form.submit(class="btn btn-dark btn-lg") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}