{% extends 'admin_base.html' %}

{% block title %}admin dashboard{% endblock %}

{% block content %}




            <div class="page-header">
              <h3 class="page-title"> User Table </h3>
               </div>
            <div class="row">


              <div class="col-lg-12 grid-margin stretch-card" style="padding-right: 0; padding-left: 0;">
                <div class="card">
                  <div class="card-body" style="overflow-x: auto;">
                    <h4 class="card-title">User Details</h4>
                      <div style="display: flex; justify-content: space-between;">
                                      <a class="btn btn-info" href="{{ url_for('add_user') }}">
                <span class="menu-title">Add user</span>
              </a>
                          </div>
                      <br>
                      <br>
                <table id="userTable" class="display nowrap table hover">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAllCheckbox"></th>
                    <th>Sr. No.</th>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Creation Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
        {% for row in result|reverse %}

            <tr>
<!--              <a href="{{ url_for('admin_view_user_profile', user_id=row.id) }}">-->
                <td><input type="checkbox" class="select-checkbox"></td>
                <td class="py-1 clickable text-center" onclick="redirectToPage('{{ url_for('admin_view_user_profile', user_id=row.id) }}')">{{ loop.index }}</td>
                <td class="py-1 clickable text-center" onclick="redirectToPage('{{ url_for('admin_view_user_profile', user_id=row.id) }}')">
                    U_{{ row.id }}
                </td>
                <td class="clickable text-center" onclick="redirectToPage('{{ url_for('admin_view_user_profile', user_id=row.id) }}')" style="text-transform: capitalize;"> <a href="{{ url_for('admin_view_user_profile', user_id=row.id) }}"> {{ row.username }} </a></td>

                <td class="clickable text-center" onclick="redirectToPage('{{ url_for('admin_view_user_profile', user_id=row.id) }}')">
                    {{ row.email }}
                </td>

                <td class="clickable text-center" onclick="redirectToPage('{{ url_for('admin_view_user_profile', user_id=row.id) }}')" style="text-transform: capitalize;"> {{ row.role }} </td>
                <td class="clickable text-center" onclick="redirectToPage('{{ url_for('admin_view_user_profile', user_id=row.id) }}')">{{ row.created_datetime.split('T')[0] }}&nbsp; &nbsp;{{ row.created_datetime.split('T')[1][:8] }} </td>
                <td class="clickable text-center" onclick="redirectToPage('{{ url_for('admin_view_user_profile', user_id=row.id) }}')" style="text-transform: capitalize;"> {{ row.status }} </td>
                <td>
    <a class="button button1" href="{{ url_for('admin_edit_user_profile', user_id=row.id) }}">Edit</a>
    <button class="button button2" data-bs-toggle="modal" data-bs-target="#deleteModal_{{ row.id }}">Delete</button>

    <!-- Modal for delete button -->
    <div class="modal fade" id="deleteModal_{{ row.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel_{{ row.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel_{{ row.id }}">Delete User</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a type="button" class="btn btn-danger" href="{{ url_for('admin_delete_user', user_id=row.id) }}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</td>

<!--                </a>-->
            </tr>

        {% endfor %} <!-- Your table body content here -->
            </tbody>

        </table>

                  </div>
                </div>
              </div>

            </div>

          <!-- content-wrapper ends -->

{% endblock %}