{% extends 'CMS_base.html' %}

{% block title %}List of users{% endblock %}

{% block content %}





            <div class="row">


              <div class="col-lg-12 grid-margin stretch-card" style="padding-right: 0; padding-left: 0;">
                <div class="card">
                  <div class="card-body" style="overflow-x: auto;">
                      <div style="display:flex; justify-content:space-between;">
                    <h4 class="card-title">Posts</h4>
                      <div style="display: flex; justify-content: space-between;">
                                      <a class="btn btn-info" href="#" style="padding: 6px 30px 6px 30px;">
                <span class="menu-title">Add new post</span>
              </a>
                          </div>
                          </div>



                  </div>
                </div>
              </div>

            </div>

          <!-- content-wrapper ends -->

{% endblock %}