{% if current_user.role == "admin" %}
    {% extends 'admin_base.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block title %}List of users{% endblock %}

{% block content %}

<style>
  .comment-field {
  position: fixed;
  bottom: 0;
  width: 75%;
  background-color: white; /* Ensure it has a background */
  z-index: 1000; /* Ensure it's above other content */
}

.scrollable .comment-field {
  position: static;
}
</style>

<div class="row">
  <h4 class="card-title">Comments</h4>
<br>
    {% if result %}
  {% for data in result %}
  <div style="display: flex;">
    {% if current_user.profile_picture %}
                            <img src="{{ data.user.profile_picture }}" alt="profile" style="width: 25px; height: 25px; margin-right:10px; border-radius:50%; border: 1px solid #b0bec5">
                         {% else %}
                            <img src="static/images/man.png" alt="profile" style="width: 25px; height: 25px; margin-right:10px; border-radius:50%; border: 1px solid #b0bec5">
                        {% endif %}<h6 style="margin-right: 10px;">{{ data.user.username }}</h6>
     <p>on {{ data.created_at.split('T')[0] }} at {{ data.created_at.split('T')[1][:8] }}</p></div>
  <p class="post-title">{{ data.comment }}</p>
<div style="display: flex; margin-bottom: 20px;"><a href="#" style="color: #8fa3b0; font-size: 18px; text-decoration:none; margin-right: 20px;"><span class="mdi mdi-thumb-up-outline"></span></a>
    <a href="#" style="color: #8fa3b0; font-size: 18px; text-decoration:none;">Reply</a></div>
  {% endfor %}
    {% else %}
    <p style="text-align:center; margin-top:15%;">No comments</p>
    {% endif %}
</div>



<!-- Comment field -->
<div class="row comment-field">
  <div class="col-lg-12 grid-margin stretch-card" style="padding-right: 0; padding-left: 0;">
    <div class="card">
      <div class="card-body" style="overflow-x: auto;">
        <form id="comment-form" method="POST" action="{{ url_for('comment', post_id=post_id) }}">
          <div style="display:flex; justify-content:space-between; align-items:center;">
            <input type="text" class="form-control" name="comment" placeholder="Enter your comment" style="flex-grow: 1; margin-right: 10px;">
            <button type="submit" class="btn btn-primary" style="padding: 6px 20px;">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
 document.addEventListener("DOMContentLoaded", function() {
    // Find the footer element by its ID
    var footer = document.getElementById('footer');

    // Check if the footer element exists
    if (footer) {
        // Remove the footer element from the DOM
        footer.parentNode.removeChild(footer);
    }
});


</script>


{% endblock %}
