{% if current_user.role == "user" %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'admin_base.html' %}
{% endif %}

{% block title %}Create Template{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0">
                    <div class="card-header bg-white text-black text-center">
                        <h2>Create Template</h2>
                    </div>

                    <div class="card-body">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endwith %}

                        <form method="post" action="{{ url_for('create_template') }}">
                            {{ form.hidden_tag() }}

                            <div class="mb-3">
                                {{ form.name(class="form-control", placeholder="Name", required=True) }}
                            </div>

                            <div class="mb-3">
                                {{ form.subject(class="form-control", placeholder="Subject", required=True) }}

                            </div>
                            <div class="mb-3">
                                {{ form.content(class="form-control", placeholder="Content", required=True) }}

                            </div>


                            <div class="mb-3 text-center">
                                {{ form.submit(class="btn btn-dark btn-lg") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <script src="https://cdn.ckeditor.com/4.16.2/standard-all/ckeditor.js"></script>-->

<!--    <script>-->
<!--        // Replace the CKEditor instance with the correct ID-->
<!--        CKEDITOR.replace('content');-->

<!--        // JavaScript to handle dynamic subcategory population-->
<!--        document.addEventListener('DOMContentLoaded', function () {-->
<!--            const categoryElement = document.getElementById('category');-->
<!--            const subcategoryElement = document.getElementById('subcategory');-->

<!--            categoryElement.addEventListener('change', function () {-->
<!--                const selectedCategoryId = this.value;-->

<!--                if (selectedCategoryId) {-->
<!--                    fetch(`/subcategories/${selectedCategoryId}`)-->
<!--                        .then(response => response.json())-->
<!--                        .then(data => {-->
<!--                            console.log('Fetched subcategories:', data); // Debugging line-->
<!--                            // Clear existing subcategory options-->
<!--                            subcategoryElement.innerHTML = '<option value="">Select a subcategory</option>';-->

<!--                            // Populate new subcategory options-->
<!--                            data.subcategories.forEach(subcategory => {-->
<!--                                const option = document.createElement('option');-->
<!--                                option.value = subcategory.id;-->
<!--                                option.textContent = subcategory.subcategory;-->
<!--                                subcategoryElement.appendChild(option);-->
<!--                            });-->
<!--                        })-->
<!--                        .catch(error => console.error('Error fetching subcategories:', error));-->
<!--                } else {-->
<!--                    subcategoryElement.innerHTML = '<option value="">Select a subcategory</option>';-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    </script>-->
{% endblock %}
