{% if current_user.role == "user" %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'admin_base.html' %}
{% endif %}

{% block title %}Add Post{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0">
                    <!-- Add a card header "Register" -->
                    <div class="card-header bg-white text-black text-center">
                        <h2>Edit Post</h2>
                    </div>

                    <div class="card-body">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endwith %}

                        <form method="post" action="{{ url_for('admin_edit_post', post_id=post_id) }}">
                            {{ form.hidden_tag() }}

                            <div class="mb-3">
                                {{ form.title(class="form-control", placeholder="Title", required=True) }}
                            </div>

<!--                            <div class="mb-3">-->
<!--                                {{ form.content(class="form-control", placeholder="Content", required=True) }}-->
<!--                            </div>-->

                            <div class="mb-3">
                                {{ form.content.label }}
                                {{ form.content(class="ckeditor", placeholder="Write details about the post.") }}
                            </div>

                            <div class="mb-3 text-center">
                                {{ form.submit(class="btn btn-dark btn-lg") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.ckeditor.com/4.16.2/standard-all/ckeditor.js"></script>

<script>
    CKEDITOR.replace('plan_details');
</script>

{% endblock %}