{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0">
                    <!-- Add a card header "Register" -->
                    <div class="card-header bg-white text-black text-center">
                        <h2>Enter Email</h2>
                    </div>

                    <div class="card-body">


                        <form method="post" action="{{ url_for('forgot_password') }}">
                            {{ form.hidden_tag() }}

                            <div class="mb-3">
                                <label for="email" class="form-label visually-hidden">Email</label>
                                {{ form.email(class="form-control", placeholder="Email", required=True) }}
                            </div>

                            <div class="mb-3 text-center">
                                {{ form.submit(class="btn btn-dark btn-lg") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
