{% if current_user.role == "admin" %}
    {% extends 'admin_base.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block title %}Form Builder{% endblock %}

{% block content %}
<style>
        body {
            font-family: Arial, sans-serif;
        }

        #form-builder {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            border: 1px solid rgba(0, 0, 0, 0.125);;
        }

        #fields-container {
            width: 60%;
            border: 1px solid #ccc;
            padding: 30px;
            margin-right: 45px;

        }



        #fields-list {
            width: 21%;
            padding: 21px;
        }

        .input-button {
            width: 20vw;
            display: flex;
            align-items: center;
            height: 5vh;
            border: none;
            margin-bottom: 5px;
            border: 1px solid #ccc;
            border-radius: 10px;
            cursor: pointer;
        }

        .input-button img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            margin-left: 40px;
        }

        .field {
            margin-bottom: 20px;
            position: relative;
            border: 1px solid #ccc;
            padding: 20px;
        }

        .delete-icon, .edit-icon {
            position: absolute;
            top: 5px;
            cursor: pointer;
        }

        .delete-icon {
            right: 30px;
            color: red;
        }

        .edit-icon {
            right: 5px;
            color: blue;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea,
        select,
        input[type="date"],
        input[type="file"] {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            margin-top: 5px;
        }

        .form-check {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .form-check input {
            margin-right: 5px;
        }

        .form-check-label {
            flex: 1;
            display: flex;
            align-items: center;
        }

        .form-check span.edit-option {
            margin-left: 10px;
            color: blue;
            cursor: pointer;
            text-decoration: underline;
        }

        .dropdown-option {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }

        .dropdown-option span.edit-option {
            margin-left: 10px;
            color: blue;
            cursor: pointer;
            text-decoration: underline;
        }

        span.delete-option{
            color: red;
            cursor: pointer;
            text-decoration: underline;

        }

        .page-divider {
            padding: 10px;
            border: none;
        }

        h6{
        width: 10vw;
        margin: 15px 0px;
        }
    </style>


<div id="form-builder">
    <div id="fields-list">
        <h6>Basic</h6>
        <button class="input-button" id="add-heading">
            <img src="https://img.icons8.com/?size=100&id=jESBzuZ8vA5l&format=png&color=000000" alt="Heading">
            Add Heading
        </button>
        <button class="input-button" id="add-full-name">
            <img src="https://img.icons8.com/material-outlined/24/000000/name.png" alt="Full Name">
            Add Full Name
        </button>
          <button class="input-button" id="add-address">
            <img src="https://img.icons8.com/material-outlined/24/000000/address.png" alt="Address">
            Add Address
        </button>
        <button class="input-button" id="add-email">
            <img src="https://img.icons8.com/material-outlined/24/000000/email.png" alt="Email Field">
            Add Email Field
        </button>

        <button class="input-button" id="add-mobile">
            <img src="https://img.icons8.com/material-outlined/24/000000/phone.png" alt="Mobile Number Field">
            Add Mobile Number Field
        </button>
        <button class="input-button" id="add-date">
            <img src="https://img.icons8.com/material-outlined/24/000000/calendar.png" alt="Date Picker">
            Add Date Picker
        </button>
        <h6>Basic Elements</h6>
        <button class="input-button" id="add-text">
            <img src="https://img.icons8.com/material-outlined/24/000000/text.png" alt="Text Field">
            Add Text Field
        </button>
        <button class="input-button" id="add-paragraph">
            <img src="https://img.icons8.com/material-outlined/24/000000/paragraph.png" alt="Paragraph Field">
            Add Paragraph Field
        </button>
         <button class="input-button" id="add-dropdown">
            <img src="https://img.icons8.com/?size=100&id=100660&format=png&color=000000" alt="Dropdown Field">
            Add Dropdown Field
        </button>
        <button class="input-button" id="add-checkbox">
            <img src="https://img.icons8.com/material-outlined/24/000000/checked-checkbox.png" alt="Checkbox Field">
            Add Checkbox Field
        </button>
        <button class="input-button" id="add-radio">
            <img src="https://img.icons8.com/?size=100&id=9cgyYZlqlNq3&format=png&color=000000" alt="Radio Field">
            Add Radio Field
        </button>
        <button class="input-button" id="add-number">
            <img src="https://img.icons8.com/?size=100&id=1437&format=png&color=000000" alt="Number Field">
            Add Number Field
        </button>
        <button class="input-button" id="add-photo">
            <img src="https://img.icons8.com/material-outlined/24/000000/add-image.png" alt="Photo Upload">
            Add Photo Upload
        </button>
        <button class="input-button" id="add-document">
            <img src="https://img.icons8.com/?size=100&id=dM-cqlhsN3-n&format=png&color=000000" alt="Document Upload">
            Add Document Upload
        </button>
        <h6>Page Elements</h6>
        <button class="input-button" id="add-page-divider">
            <img src="https://img.icons8.com/?size=100&id=6450&format=png&color=000000" alt="Page Divider">
            Add Page Divider
        </button>
    </div>
    <div id="fields-container" class="empty">
        <!-- Fields will be added here dynamically -->
    </div>
</div>
<button class="input-button" id="submit-form" style="margin: 20px auto; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer; display: block;">Submit</button>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addTextButton = document.getElementById('add-text');
        const addParagraphButton = document.getElementById('add-paragraph');
        const addNumberButton = document.getElementById('add-number');
        const addCheckboxButton = document.getElementById('add-checkbox');
        const addRadioButton = document.getElementById('add-radio');
        const addDropdownButton = document.getElementById('add-dropdown');
        const addEmailButton = document.getElementById('add-email');
        const addMobileButton = document.getElementById('add-mobile');
        const addDatePickerButton = document.getElementById('add-date');
        const addPhotoButton = document.getElementById('add-photo');
        const addDocumentButton = document.getElementById('add-document');
        const addHeadingButton = document.getElementById('add-heading');
        const addFullNameButton = document.getElementById('add-full-name');
        const addAddressButton = document.getElementById('add-address');
        const addPageDividerButton = document.getElementById('add-page-divider');
        const fieldsContainer = document.getElementById('fields-container');

        // Make buttons draggable
        const buttons = document.querySelectorAll('#fields-list button');
        buttons.forEach(button => {
            button.setAttribute('draggable', 'true');
            button.addEventListener('dragstart', function (event) {
                event.dataTransfer.setData('text/plain', event.target.id);
            });
        });

        // Make fields container a drop zone
        fieldsContainer.addEventListener('dragover', function (event) {
            event.preventDefault(); // Necessary to allow dropping
        });

        fieldsContainer.addEventListener('drop', function (event) {
            event.preventDefault(); // Necessary to allow dropping
            const buttonId = event.dataTransfer.getData('text/plain');
            let type;
            switch (buttonId) {
                case 'add-text':
                    type = 'text';
                    break;
                case 'add-paragraph':
                    type = 'textarea';
                    break;
                case 'add-number':
                    type = 'number';
                    break;
                case 'add-checkbox':
                    type = 'checkbox';
                    break;
                case 'add-radio':
                    type = 'radio';
                    break;
                case 'add-dropdown':
                    type = 'select';
                    break;
                case 'add-email':
                    type = 'email';
                    break;
                case 'add-mobile':
                    type = 'tel';
                    break;
                case 'add-date':
                    type = 'date';
                    break;
                case 'add-photo':
                    type = 'file';
                    accept = 'image/*';
                    break;
                case 'add-document':
                    type = 'file';
                    accept = '.pdf, .doc, .docx';
                    break;
                case 'add-heading':
                    type = 'heading';
                    break;
                case 'add-full-name':
                    type = 'full-name';
                    break;
                case 'add-address':
                    type = 'address';
                    break;
                case 'add-page-divider':
                    type = 'page-divider';
                    break;
                default:
                    type = 'text';
            }

            if (type === 'checkbox') {
                const numCheckboxes = prompt('How many checkboxes?');
                addCheckboxField(numCheckboxes);
            } else if (type === 'radio') {
                const numRadios = prompt('How many radio buttons?');
                addRadioField(numRadios);
            } else if (type === 'select') {
                const numOptions = prompt('How many dropdown options?');
                addDropdownField(numOptions);
            } else if (type === 'heading') {
                const headingText = prompt('Enter heading text:');
                addHeadingField(headingText);
            } else if (type === 'full-name') {
                addFullNameField();
            } else if (type === 'address') {
                addAddressField();
            } else if (type === 'page-divider') {
                addPageDivider();
            } else {
                addField(type);
            }
        });

        function addField(type, accept = '') {
            const customLabel = prompt('Enter label:');
            const field = document.createElement('div');
            field.classList.add('field');

            switch (type) {
                case 'text':
                case 'number':
                    field.innerHTML = `
                        <label>${customLabel || 'Text'}</label>
                        <input type="${type}" placeholder="${customLabel || 'Text field'}">
                    `;
                    break;
                case 'textarea':
                    field.innerHTML = `
                        <label>${customLabel || 'Paragraph'}</label>
                        <textarea></textarea>
                    `;
                    break;
                case 'email':
                    field.innerHTML = `
                        <label>${customLabel || 'Email'}</label>
                        <input type="email" placeholder="${customLabel || 'Email field'}">
                    `;
                    break;
                case 'tel':
                    field.innerHTML = `
                        <label>${customLabel || 'Mobile Number'}</label>
                        <input type="tel" placeholder="${customLabel || 'Mobile Number field'}">
                    `;
                    break;
                case 'date':
                    field.innerHTML = `
                        <label>${customLabel || 'Date'}</label>
                        <input type="date">
                    `;
                    break;
                case 'file':
                    field.innerHTML = `
                        <label>${customLabel || 'File Upload'}</label>
                        <input type="file" accept="${accept}">
                    `;
                    break;
            }

            addIcons(field);

            fieldsContainer.appendChild(field);
        }

        function addCheckboxField(numCheckboxes) {
    const checkboxLabel = prompt('Enter label for checkboxes:');
    const field = document.createElement('div');
    field.classList.add('field');

    field.innerHTML = `<label>${checkboxLabel || 'Checkbox'}</label>`;

    for (let i = 0; i < numCheckboxes; i++) {
        const checkboxOptionLabel = prompt(`Enter label for checkbox option ${i + 1}:`);
        const checkboxOption = document.createElement('div');
        checkboxOption.classList.add('form-check');
        checkboxOption.innerHTML = `
            <input class="form-check-input" type="checkbox" value="" id="flexCheck${i}">
            <label class="form-check-label" for="flexCheck${i}">
                <span>${checkboxOptionLabel || 'Checkbox option'}</span>
                <span class="edit-option" onclick="editOptionLabel(this)">Edit</span>
                <span class="delete-option" onclick="deleteOption(this)">Delete</span> <!-- Delete icon added here -->
            </label>
        `;
        field.appendChild(checkboxOption);
    }

    addIcons(field); // Ensure icons are added to each checkbox option

    fieldsContainer.appendChild(field);
}

// Function to handle deletion of an option
window.deleteOption = function (deleteIcon) {
    const optionDiv = deleteIcon.parentElement;
    optionDiv.remove(); // Removes the option div containing the checkbox and labels
};


        function addRadioField(numRadios) {
            const radioLabel = prompt('Enter label for radio buttons:');
            const field = document.createElement('div');
            field.classList.add('field');

            field.innerHTML = `<label>${radioLabel || 'Radio'}</label>`;

            for (let i = 0; i < numRadios; i++) {
                const radioOptionLabel = prompt(`Enter label for radio button option ${i + 1}:`);
                const radioOption = document.createElement('div');
                radioOption.classList.add('form-check');
                radioOption.innerHTML = `
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio${i}">
                    <label class="form-check-label" for="flexRadio${i}">
                        <span>${radioOptionLabel || 'Radio option'}</span>
                        <span class="edit-option" onclick="editOptionLabel(this)">Edit</span>
                        <span class="delete-option" onclick="deleteOption(this)">Delete</span> <!-- Delete icon added here -->
                    </label>
                `;
                field.appendChild(radioOption);
            }

            addIcons(field);

            fieldsContainer.appendChild(field);
        }

        function addDropdownField(numOptions) {
            const selectLabel = prompt('Enter label for dropdown:');
            const field = document.createElement('div');
            field.classList.add('field');

            const selectElement = document.createElement('select');
            selectElement.id = `select${Date.now()}`;
            selectElement.name = `select${Date.now()}`;

            for (let i = 0; i < numOptions; i++) {
                const optionLabel = prompt(`Enter label for dropdown option ${i + 1}:`);
                const optionElement = document.createElement('option');
                optionElement.value = optionLabel.toLowerCase() || `option${i}`;
                optionElement.innerHTML = optionLabel || `Option ${i + 1}`;

                const optionDiv = document.createElement('div');
                optionDiv.classList.add('dropdown-option');
                optionDiv.innerHTML = `
                    <span>${optionLabel || `Option ${i + 1}`}</span>
                    <span class="edit-option" onclick="editOptionLabel(this)">Edit</span>
                `;

                selectElement.appendChild(optionElement);
                field.appendChild(optionDiv);
            }

            field.innerHTML = `<label for="${selectElement.id}">${selectLabel || 'Dropdown'}</label>`;
            field.appendChild(selectElement);

            addIcons(field);

            fieldsContainer.appendChild(field);
        }

        function addHeadingField(headingText) {
            const field = document.createElement('div');
            field.classList.add('field');

            field.innerHTML = `
                <h3>${headingText || 'Heading'}</h3>
            `;

            addIcons(field);

            fieldsContainer.appendChild(field);
        }

        function addFullNameField() {
            const field = document.createElement('div');
            field.classList.add('field');

            field.innerHTML = `
                <label>Full Name</label>
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name" style="margin-top: 10px;">
            `;

            addIcons(field);

            fieldsContainer.appendChild(field);
        }

        function addAddressField() {
            const field = document.createElement('div');
            field.classList.add('field');

            field.innerHTML = `
                <label>Address</label>
                <input type="text" placeholder="Street Address 1">
                <input type="text" placeholder="Street Address 2" style="margin-top: 10px;">
                <input type="text" placeholder="City" style="margin-top: 10px;">
                <input type="text" placeholder="State" style="margin-top: 10px;">
                <input type="text" placeholder="Pincode" style="margin-top: 10px;">
            `;

            addIcons(field);

            fieldsContainer.appendChild(field);
        }

        function addPageDivider() {
    const field = document.createElement('div');
    field.classList.add('field', 'page-divider'); // Added 'field' class for consistency

    // Create delete icon
    const deleteIcon = document.createElement('span');
    deleteIcon.classList.add('delete-icon');
    deleteIcon.innerHTML = '&#10006;';
    deleteIcon.addEventListener('click', function () {
        field.remove(); // Remove the entire field including the divider and delete icon
    });

    // Append delete icon to the field
    field.appendChild(deleteIcon);

    // Append the divider itself to the field
    const divider = document.createElement('hr');
    field.appendChild(divider);

    fieldsContainer.appendChild(field);
}


        function addIcons(field) {
            // Add delete icon
            const deleteIcon = document.createElement('span');
            deleteIcon.classList.add('delete-icon');
            deleteIcon.innerHTML = '&#10006;';
            deleteIcon.addEventListener('click', function () {
                field.remove();
            });
            field.appendChild(deleteIcon);

            // Add edit icon
const editIcon = document.createElement('span');
editIcon.classList.add('edit-icon');
editIcon.innerHTML = '&#9998;';
editIcon.addEventListener('click', function () {
    const field = this.parentElement;
    const labelElement = field.querySelector('label');
    if (labelElement) {
        const newLabel = prompt('Enter new label:', labelElement.textContent);
        if (newLabel!== null) {
            labelElement.textContent = newLabel;
            // Check if the field is a "Full Name" field
            if (field.querySelector('input[type="text"]').length === 2) { // Assuming there are exactly two text inputs for full name
                // Update placeholders for "Full Name" field
                field.querySelectorAll('input[type="text"]').forEach((input, index) => {
                    input.placeholder = index === 0? "First Name" : "Last Name";
                });
            } else {
                // Handle other types of fields as needed
            }
        }
    } else {
        const headingElement = field.querySelector('h3');
        const newHeading = prompt('Enter new heading:', headingElement.textContent);
        if (newHeading!== null) {
            headingElement.textContent = newHeading;
        }
    }
});
field.appendChild(editIcon);

        }

        window.editOptionLabel = function (optionEditIcon) {
            const optionDiv = optionEditIcon.parentElement;
            const optionLabel = optionDiv.querySelector('span');
            const newLabel = prompt('Enter new label:', optionLabel.textContent.trim());

            if (newLabel !== null) {
                optionLabel.textContent = newLabel;

                const selectElement = optionDiv.closest('.field').querySelector('select');
                if (selectElement) {
                    const optionIndex = Array.from(optionDiv.parentElement.children).indexOf(optionDiv);
                    selectElement.options[optionIndex].text = newLabel;
                }
            }
        };
    });
</script>
{% endblock %}
