{% if current_user.role == "user" %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'admin_base.html' %}
{% endif %}

{% block title %}Preview{% endblock %}

{% block content %}
    <!-- Page Header-->
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-left">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h2 class="subheading">{{ title }}</h2>
                             <span style="display:flex;" class="meta">
                                <a href="#!" style="color: black; font-size: 0.9rem; margin-right: 0.5rem;">{{ author_name }}</a>
                                 <div style="color: black; font-size: 0.9rem; margin-right: 0.5rem;">{{ created_at }}</div>
                                <div style="color: black; font-size: 0.9rem; margin-right: 0.5rem;">Uncategorised</div>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr>
    <br>
    <br>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-left">
                <div class="col-md-10 col-lg-8 col-xl-7" id="post-content">
                    <!-- The content will be rendered here by EditorJS Renderer -->
                    {{ content | safe}}
                </div>
            </div>
        </div>
    </article>
    <form method="POST">
        {{ form.hidden_tag() }}
        <input type="hidden" name="title" value="{{ title }}">
        <input type="hidden" name="content" value="{{ content }}">
        <input type="hidden" name="category" value="{{ form.category.data }}">
        <input type="hidden" name="subcategory" value="{{ form.subcategory.data }}">
        <input type="hidden" name="tags" value="{{ form.tags.data }}">

        <div class="d-grid gap-2 col-6 mx-auto">
            {{ form.publish(class="btn btn-dark btn-lg") }}
            {{ form.save_draft(class="btn btn-outline-dark btn-lg") }}
        </div>
    </form>
    <!-- Footer-->

    <!-- EditorJS Renderer -->

{% endblock %}