{% extends 'base.html' %}

{% block title %}profile{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0">
                    <!-- Add a card header "Profile" -->
                    <div class="card-header bg-white text-black text-center">
                        <h2>Profile</h2>
                    </div>

                    <!-- Center the image, add padding, and resize -->
                    <div class="card-img-top text-center my-3">
                        <img src="static/images/man.png" alt="Login Image" style="max-width: 300px; width: 5rem; height: 5rem;" class="img-fluid">
                    </div>

<!--                    <div class="card-img-top text-center my-3">-->
<!--                        <label><i class="bi bi-person"></i> {{username}}</label>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        <label><i class="bi bi-envelope"></i> {{email}}</label>-->
<!--                    </div>-->

                 <div class="mb-3">

                                <div class="input-group">
                                    <span class="input-group-text text-secondary" style="width:100%"><i class="bi bi-person-fill" style = "margin-right:20px"></i>{{ username }}</span>

                                </div>
                            </div>
                    <div class="mb-3">

                                <div class="input-group">
                                  <span class="input-group-text text-secondary" style="width:100%"><i class="bi bi-envelope" style = "margin-right:20px"></i>{{ email }}</span>

                                </div>
                             </div>

                    <div class="mb-3">

                                <div class="input-group">
                                    <span class="input-group-text text-secondary" style="width:100%"><i class="bi bi-building" style = "margin-right:20px"></i>Company name</span>

                                </div>
                            </div>


                    <div class="card-img-top text-center my-3">
                        <a href="{{ url_for('user_password_update',role=role)}}">Update Password</a>
                    </div>



                </div>
            </div>
        </div>
    </div>
{% endblock %}

