{% extends 'base.html' %}

{% block title %}Upload PDF Files{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Upload Resume Files</h1>

        <form method="POST" action="{{ url_for('upload_pdf') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                <label for="files" class="form-label">Select PDF Files:</label>
                {{ form.files.label }}
                <input type="file" class="form-control" name="files" multiple>
            </div>

            <button type="submit" class="btn btn-dark">Upload</button>
        </form>
    </div>
{% endblock %}
