{% if current_user.role == "admin" %}
    {% extends 'admin_base.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block title %}List of posts{% endblock %}

{% block content %}
<style>
    #search-input {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    display: block;
}

    #categories-container {
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent buttons from wrapping to the next line */
    }

    .category-button {
        display: inline-block;
        padding: 10px 20px;
        margin-right: 10px;
        background-color: #eaeaea;
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }

    .category-button:hover {
        background-color: #ddd;
    }

/* Hide scrollbar for Chrome, Safari, and Opera */
    ::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge (non-Chromium) */
    body, html, #categories-container {
        -ms-overflow-style: none;  /* IE and Edge */
    }

    /* Hide scrollbar for Firefox */
    body, #categories-container {
        scrollbar-width: none;  /* Firefox */
    }


    #selected-category {
        font-size: 30px; /* Big font size */
        font-weight: bold; /* Bold font weight */
        margin: auto; /* Add margin from top and bottom and center horizontally */
        margin-top: 50px;
        text-align: center;
    }

    #post-count {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }

</style>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div id="categories-container">
            {% for data in response %}
            <button class="category-button" onclick="selectCategory('{{ data.category }}', '{{ data.id }}')">{{ data.category }}</button>
            {% endfor %}
        </div>

        <div id="selected-category" style="display: none;"></div>
        <div id="post-count" style="display: none;"></div>

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <input type="text" id="search-input" placeholder="Search posts" style="margin-right: auto; margin-left: 20px;">
            {% if current_user.role == "user" %}
            <a class="btn btn-info" href="{{ url_for('add_post')}}" style="padding: 6px 30px 6px 30px;">
                <span class="menu-title">Add new post</span>
            </a>
            {% endif %}
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-12">
                <div class="row" id="posts-container">
                    <!-- Post preview-->
                    {% for data in result %}
                    <div class="col-md-4 post-preview" data-post-index="{{ loop.index0 }}" data-category-id="{{ data.category_id }}" style="display: none;">
                        <form action="{{ url_for('get_post', post_title=data.title | lower | replace(' ', '')) }}" method="POST" style="display:inline;">
                            <input type="hidden" name="post_id" value="{{ data.id }}">
                            <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer; text-align: left;">
                                <h3 class="post-title">{{ data.title }}</h3>
                            </button>
                        </form>
                        <p class="post-meta">
                            Posted by
                            <a href="{{ url_for('user_post_list', username=data.author_name) }}">{{ data.author_name }}</a>
                            on {{ data.created_at.split('T')[0] }} at {{ data.created_at.split('T')[1][:8] }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post preview-->
                <div class="d-flex justify-content-between mb-4">
                    <button id="load-newer" class="btn btn-primary text-uppercase" style="display: none;">← Newer Posts</button>
                    <button id="load-more" class="btn btn-primary text-uppercase">Older Posts →</button>
                </div>
            </div>
        </div>
<div class="newsletter">
    <h5 style="margin-top: 2rem;">Subscribe to Newsletter</h5>
    <form method="post" action="{{ url_for('user_post_list', username=username) }}">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            {{ form.name(class="form-control", placeholder="Username", aria_label="Username", required=True) }}
            <span class="input-group-text text-danger" id="basic-addon1"><i class="bi bi-envelope"></i></span>
            {{ form.email(class="form-control", placeholder="Email", aria_label="Email", required=True) }}
            {{ form.submit(class="btn btn-outline-dark", id="button-addon2") }}
        </div>
    </form>
</div>
    </div>
<script>
    let selectedCategoryId = null;
    let currentPage = 0;
    const postsPerPage = 7;

    function filterPosts() {
        const query = document.getElementById('search-input').value.trim().toLowerCase();
        let visiblePosts = 0;
        let totalPostsInCategory = 0;
        const posts = document.querySelectorAll('.post-preview');

        posts.forEach((post, index) => {
            const title = post.querySelector('.post-title').textContent.toLowerCase();
            const categoryId = post.getAttribute('data-category-id');
            const isVisible = title.includes(query) && (!selectedCategoryId || selectedCategoryId === categoryId);

            if (isVisible && visiblePosts >= currentPage * postsPerPage && visiblePosts < (currentPage + 1) * postsPerPage) {
                post.style.display = 'block';
            } else {
                post.style.display = 'none';
            }
            if (isVisible) {
                visiblePosts++;
            }
            if (selectedCategoryId === categoryId) {
                totalPostsInCategory++;
            }
        });

        const loadMoreButton = document.getElementById('load-more');
        const loadNewerButton = document.getElementById('load-newer');

        // Hide the loadMoreButton if there are no more posts to show
        if (visiblePosts <= (currentPage + 1) * postsPerPage) {
            loadMoreButton.style.display = 'none';
        } else {
            loadMoreButton.style.display = 'block';
        }

        // Show the loadNewerButton if we are not on the first page
        if (currentPage > 0) {
            loadNewerButton.style.display = 'block';
        } else {
            loadNewerButton.style.display = 'none';
        }

        // Update the post count
         const postCountElement = document.getElementById('post-count');
        if (selectedCategoryId) {
            if (totalPostsInCategory <= 1) {
                postCountElement.textContent = `${totalPostsInCategory} Post`;
            } else {
                postCountElement.textContent = `${totalPostsInCategory} Posts`;
            }
            postCountElement.style.display = 'block';
        } else {
            postCountElement.style.display = 'none';
        }
    }

    function selectCategory(category, categoryId) {
        selectedCategoryId = categoryId;
        currentPage = 0;
        filterPosts();
        document.getElementById('selected-category').innerText = category;
        document.getElementById('selected-category').style.display = 'block';
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Initialize the first page
        filterPosts();

        // Adjust search input width based on user role
        const searchInput = document.getElementById('search-input');
        if ('{{ current_user.role }}' === 'user') {
            searchInput.style.width = '80%';
        } else {
            searchInput.style.width = '96%';
        }

        // Event listeners for load more and load newer buttons
        document.getElementById('load-more').addEventListener('click', function () {
            currentPage++;
            filterPosts();
        });

        document.getElementById('load-newer').addEventListener('click', function () {
            if (currentPage > 0) {
                currentPage--;
                filterPosts();
            }
        });

        // Event listener for search input
        searchInput.addEventListener('input', filterPosts);
    });
</script>

    <!-- Footer-->
{% endblock %}
