{% if current_user.role == "admin" %}
    {% extends 'admin_base.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block title %}List of posts{% endblock %}

{% block content %}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            {% if current_user.role == "user" %}
            <div style="display: flex; justify-content: space-between;">
                <h2>Posts</h2>
                <a class="btn btn-info" href="{{ url_for('add_post')}}" style="padding: 6px 30px 6px 30px;">
                <span class="menu-title">Add new post</span>
              </a>
                          </div>
            {% endif %}
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% if result %}
                    {% for data in result | reverse %}
                    <div class="post-preview">
                        <form action="{{ url_for('get_post', post_title=data.title | lower | replace(' ', '')) }}" method="POST" style="display:inline;">
        <input type="hidden" name="post_id" value="{{ data.id }}">
        <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer; text-align: left;">
            <h3 class="post-title">{{ data.title }}</h3>
        </button>
    </form>
                        <p class="post-meta">
                            Posted by
                            <a href="{{ url_for('user_post_list', username=data.author_name) }}">{{ data.author_name }}</a>
                            on {{ data.created_at.split('T')[0] }} at {{ data.created_at.split('T')[1][:8] }}
                        </p>
                    </div>
                    {% endfor %}

                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                {% else %}
                        <p style="text-align: center; margin-top: 40%;">No posts</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Footer-->
{% endblock %}