{% extends 'base.html' %}

{% block title %}change password{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0">
                    <!-- Add a card header "Register" -->
                    <div class="card-header bg-white text-black text-center">
                        <h2>Update Password</h2>
                    </div>



                        <form method="post" action="{{ url_for('user_password_update',role=role)}}">
                            {{ form.hidden_tag() }}

                            <div class="mb-3">
                                <label for="current_password" class="form-label visually-hidden">Current Password:</label>
                                {{ form.current_password(class="form-control", placeholder="Current Password", required=True) }}
                            </div>

                            <div class="mb-3">
                                <label for="new_password" class="form-label visually-hidden">New Password:</label>
                                {{ form.new_password(class="form-control", placeholder="New Password", required=True) }}
                            </div>

                            <div class="mb-3">
                                <label for="confirm_new_password" class="form-label visually-hidden">Confirm Password:</label>
                                {{ form.confirm_new_password(class="form-control", placeholder="Confirm Password", required=True) }}
                            </div>

                            <div class="mb-3 text-center">
                                {{ form.submit(class="btn btn-dark btn-lg") }}
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}