{% if current_user.role == "admin" %}
    {% extends 'admin_base.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block title %}All Medias{% endblock %}

{% block content %}

<link href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" rel="stylesheet">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card" style="padding-right: 0; padding-left: 0;">
      <div class="card">
        <div class="card-body" style="overflow-x: auto;">
          <div style="display:flex; justify-content:space-between;">
            <h4 class="card-title">Medias</h4>
            <div style="display: flex; justify-content: space-between;">
              <a class="btn btn-info" href="{{ url_for('media')}}" style="padding: 6px 30px 6px 30px;">
                <span class="menu-title">Add new media</span>
              </a>
            </div>
          </div>
          <table id="userMediaTable" class="" style="width:100%;">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>Media</th>
                <th>Post</th>
                <th>Created Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for data in result %}
              <tr style="max-height: 100px; overflow-y: auto; ">
                <td class="py-1">{{ loop.index }}</td>
                   <td class="py-1">
                  <img src="{{ root_url + data.file_url }}" alt="Media Thumbnail" style="max-height: 6rem; width: auto; margin-top: 10px">
                </td>
                <td class="py-1"></td>
                <td class="py-1">{{ data.uploaded_at.split('T')[0] }} {{ data.uploaded_at.split('T')[1][:8] }}</td>
                <td style="display: flex; margin-top: 20%; margin-bottom:10%;">


                  <button class="button button2" data-bs-toggle="modal" data-bs-target="#deleteModal_{{ data.id }}">Delete</button>

                  <!-- Modal for delete button -->
                  <div class="modal fade" id="deleteModal_{{ data.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel_{{ data.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteModalLabel_{{ data.id }}">Delete Post</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete this post?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <a type="button" class="btn btn-danger" href="{{ url_for('admin_delete_post', post_id=data.id) }}">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script>new DataTable('#userMediaTable');</script>
{% endblock %}
